<section class="vh-100% " style="background-color: rgb(172, 152, 212);">
    <div class="container py-5 h-100" *ngIf="proyectos">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10 d-flex align-items-center justify-content-center">
                <div class="card d-flex col-md-7 col-lg-10 "
                    style="border-radius: 1rem; background-color: rgba(238, 235, 242, 0.777);">

                    <div class="card-body p-4 p-lg-5 text-black">
                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                            <div class="form-outline mb-4">
                                <label for="nombre">Nombre del proyecto:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    [(ngModel)]="proyectos.nombre" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label for="descripcion">Descripcion del proyecto:</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion"
                                    [(ngModel)]="proyectos.descripcion" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label for="link">Link al proyecto:</label>
                                <input type="text" class="form-control" id="link" name="link"
                                    [(ngModel)]="proyectos.link" required>
                            </div>
                            <div class="pt-1 mb-4 mt-2 d-flex justify-content-end">
                                <button class="btn btn-dark btn-lg btn-block btn-sm p-2 mt-4" type="submit">
                                    Modificar Proyecto
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
