<div class="row">
    <div class="d-flex justify-content-start align-items-center">
        <h3>Proyectos</h3>
        <button type="button" class="btn btn-outline-light" routerLink="/new-proyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <div class="row d-flex align-items-center justify-content-center" *ngFor="let proyectos of proyectos">
        
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 titulo">
                <h4>{{proyectos.nombre}}</h4>
                <p>{{proyectos.descripcion}}</p>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center align-items-center">
                <a href="{{proyectos.link}}"><button class="btn btn-outline-light" id="link">Ir al proyecto!</button></a>
            </div>
        <div *ngIf="isLogged">
                <a class="btn btn-outline-light" data-placement="top" data-tooge="tooltip" data-original-title="Edit"
                    routerLink="/editar-proyecto/{{proyectos.id}}"><i class="bi bi-pencil-fill"></i></a>
                <a class="btn btn-outline-danger" data-placement="top" data-tooge="tooltip" data-original-title="Delete"
                    (click)="deleteProyectos(proyectos.id)">
                    <i class="bi bi-trash"></i></a>
            </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

            
        </div>
    </div>
</div>