<div class="row">
    <div class="d-flex justify-content-start align-items-center">
        <h3>Experiencia laboral</h3>
        <button type="button" class="btn btn-outline-light" routerLink="/new-experiencia" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div *ngFor="let experiencia of experiencias">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">

                <div *ngIf="isLogged">
                    <a class="btn btn-outline-light" data-placement="top" data-tooge="tooltip"
                        data-original-title="Edit" routerLink="/edit-experiencia/{{experiencia.idExp}}"><i
                            class="bi bi-pencil-fill"></i></a>
                    <a class="btn btn-outline-danger" data-placement="top" data-tooge="tooltip"
                        data-original-title="Delete" (click)="deleteExperiencia(experiencia.idExp)">
                        <i class="bi bi-trash"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pb-4">
                <h5>{{experiencia.fechaExp}}</h5>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h4>{{experiencia.tituloExp}}</h4>
                <p>{{experiencia.descExp}}</p>
            </div>
        </div>
    </div>
</div>